<div class="container" id="userLoginContainer">
    <div class="row">
        <div class="col-md-8">
            <div class="well">
                <form class="form-horizontal">
                    <fieldset>
                        <legend>New user? Register here!</legend>
                        <small class="text-danger">
                            <small>Fields with * are required</small>
                        </small>
                        <br>

                        <div class="form-group has-error">
                            <label for="userFirstName" class="col-lg-2 control-label">First name*</label>

                            <div class="col-lg-10">
                                <input type="text" id="userFirstName" class="userLoginSet form-control"  placeholder="First name">
                            </div>
                        </div>
                        <div class="form-group has-error">
                            <label for="userLastName" class="col-lg-2 control-label">Last name*</label>

                            <div class="col-lg-10">
                                <input type="text" id="userLastName" class="userLoginSet form-control"  placeholder="Last name">
                            </div>
                        </div>
                        <div class="form-group has-error">
                            <label for="userEmailAddress" class="col-lg-2 control-label">Email*</label>

                            <div class="col-lg-10">
                                <input type="text" id="userEmailAddress" class="userLoginSet form-control"  placeholder="Email">
                            </div>
                        </div>
                        <div class="form-group has-error">
                            <label for="userPhone" class="col-lg-2 control-label">Phone*</label>

                            <div class="col-lg-10">
                                <input type="text" id="userPhone" class="userLoginSet form-control"  placeholder="Phone">
                            </div>
                        </div>
                        <div class="form-group has-error">
                            <label for="userUsername" class="col-lg-2 control-label">Username*</label>

                            <div class="col-lg-10">
                                <input type="text" id="userUsername" class="userLoginSet  form-control"  placeholder="Username">
                            </div>
                        </div>
                        <div class="form-group has-error">
                            <label for="userPassword" class="col-lg-2 control-label">Password*</label>

                            <div class="col-lg-10">
                                <input type="password" id="userPassword" class="userLoginSet  form-control" placeholder="3-27 characters">
                            </div>
                        </div>
                        <div class="form-group has-error">
                            <label for="userPasswordConfirm" class="col-lg-2 control-label">Confirm password*</label>
                            <div class="col-lg-10">
                                <input type="password" id="userPasswordConfirm" class="userLoginSet  form-control"  placeholder="3-27 characters">
                                </div>
                        </div>
                        <button id="registerUser" class="btn btn-primary pull-right">Register</button>
                        <br>
                        <br>
                        <div id="userRegisterMessages"></div>
                        <div id="userMessages"></div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>