<div class="container" id="offer-container">

		<div class="panel panel-primary">
			<div class="panel-heading">
				<h4 class="panel-title">Offer details</h4>
			</div>
			<div class="panel-body">
				<p>
					<div class="row">
						<div class="col-md-6 container-fluid" id="image-container">
							<img src="data:image/png;base64,{{Image}}" alt="{{Species}} {{Category}}" class="img-responsive">
						</div>
						<div class="col-md-6" id="info-container">
							<div class="row">
								<div class="container-fluid">
									<div class="row">
										<h4>
											<span class="col-md-5 col-md-offset-1">Name:</span>
											<span class="col-md-3">{{Name}}</span>
										</h4>
									</div>
									<div class="row">
										<h4>
											<span class="col-md-5 col-md-offset-1">Category:</span>
											<span class="col-md-3">{{Category}}</span>
										</h4>
									</div>
									<div class="row">
										<h4>
											<span class="col-md-5 col-md-offset-1">Species:</span>
											<span class="col-md-3">{{Species}}</span>
										</h4>
									</div>
									<div class="row">
										<h4>
											<span class="col-md-5 col-md-offset-1">Color:</span>
											<span class="col-md-3">{{Color}}</span>
										</h4>
									</div>
									<div class="row">
										<h4>
											<span class="col-md-5 col-md-offset-1">Vaccinated:</span>
											{{#if isVaccinated}}
												<span class="col-md-3">Yes</span>
											{{else}}
												<span class="col-md-3">No</span>
											{{/if}}

										</h4>
									</div>
									<div class="row">
										<h4>
											<span class="col-md-5 col-md-offset-1">BirthDate:</span>
											<span class="col-md-3">{{BirthDate}}</span>
										</h4>
									</div>
									<div class="row">
										<h4>
											<span class="col-md-5 col-md-offset-1">Price:</span>
											<span class="col-md-3">${{Price}}</span>
										</h4>
									</div>
									<div class="row">
										<h4>
											<span class="col-md-3 col-md-offset-1">Rating:</span>
										</h4>
										<div class="col-md-7 col-md-offset-1" id="seller-info">
											<select id="rating">
											    <option value="1" {{#if_eq_num Rating "1"}} selected="selected" {{/if_eq_num}}>1</option>
							                    <option value="2" {{#if_eq_num Rating "2"}} selected="selected" {{/if_eq_num}}>2</option>
							                    <option value="3" {{#if_eq_num Rating "3"}} selected="selected" {{/if_eq_num}}>3</option>
							                    <option value="4" {{#if_eq_num Rating "4"}} selected="selected" {{/if_eq_num}}>4</option>
							                    <option value="5" {{#if_eq_num Rating "5"}} selected="selected" {{/if_eq_num}}>5</option>
											</select>
										</div>
									</div>
									<div class="row">
										<h4>
											<span class="col-md-3 col-md-offset-1">Seller:</span>
											<div class="col-md-7" id="seller-info">{{Seller}}</div>
										</h4>
									</div>
								</div>
							</div>
						</div>
					</div>
				</p>
				<h3>Description</h3>
				<hr>
				<p class="text-large">{{Description}}</p>
				<hr>
				<div class="pull-left">
					<div id="drive">
						<div class="g-savetodrive" id="googledrive"
							 data-src="URL"
							 data-filename="{{Name}}-info.txt"
							 data-sitename="Pet Store">
						</div>
					</div>
				</div>
				<div class="pull-right">
					<button class="btn btn-success  btn-lg" id="buy">Buy</button>
					<button class="btn btn-danger btn-lg" id="delete">Delete offer</button>
				</div>
				<br>
				<br>
				<br>
			</div>
		</div>
</div>